ain.css
@@ -13,7 +13,7 @@ body {
#chartdiv { grid-area: chartdiv; }

#control-panel { grid-area: control-panel;height: 100%; }


.path-item {
    margin: auto 2px auto 2px;
}
@@ -48,4 +48,4 @@ body {
}

.background-path-line {
}
}
